@{
    ViewData["Title"] = "Contact Us";
}

<div class="text-center">
    <h1>Contact Us</h1>
    <p>Have a question or feedback? Reach out to us using the ways below:</p>
    <p>Email: info@khumalocraft.com</p>
    <p>Contact Number: 031 420 0697</p>

